<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.werweruser.mapper.IUserMapper">
    <insert id="registerUser">
        insert into users(id, name, password, email, salt)
        values (#{id}, #{name}, #{password}, #{email}, #{salt})
    </insert>
    <select id="findUserById">
        select count(1)
        from users
        where id = #{id}
    </select>
    <select id="findById">
        select *
        from users
        where id = #{id}
    </select>
    <select id="login">
        select *
        from users
        where id = #{id}
          and password = #{password}
    </select>
    <update id="updatePassword">
        update users
        set password=#{newpassword}
        where id = #{userId}
    </update>
    <select id="getEmail">
        select email
        from users
        where id = #{userId}
    </select>
    <select id="getUserSalt">
        select salt
        from users
        where id = #{userId}
    </select>
</mapper>